
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

/* shared style  */
.flex {
  display: flex;
  align-items: flex-start;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text-yellow {
  color: #E95A08;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.btn-primary{
  padding: 16px 0;
  color: white;
  background-color: #E95A08;
  border: none;
}


/* nav style  */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 20px auto;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

/* banner style  */
.banner {
  margin-top: 120px;
  align-items: flex-end;
}

.banner-title {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #000;
}



/* plants section style  */
.plants-section{
  margin-top: 120px;
  text-align: center;
}
.plants-title h3{
  font-size: 3rem;
  margin-bottom: 16px;
}
.plants-card-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 48px;
}

.plants-card-area button{
  width: 100%;
}

.plants-single-card img{
  margin-bottom: 25px;
}
.plants-single-card h4{
  margin-bottom: 10px;
  font-weight: normal;
}

.plants-single-card p{
  font-weight: bold;
  margin-bottom: 25px;
}

/* Plants Lover section style  */

.plants-lover-section{
  position: relative;
  gap: 60px;
  margin-top: 200px;
}
.plants-section-title{
  font-size: 3rem;
  margin-bottom: 20px;
}
.plants-right{
  padding: 35px 0;
}
.plants-right li{
  margin-bottom: 20px;
}
.trusted-badge{
  position: absolute;
  top: -100px;
  left: 350px;
}

/* latest deal section  */
.least-deal-section{
  text-align: center;
  margin: 100px 0;
}

.deal-title h3 {
  font-size: 3rem;
}
.least-deal-section p{
  margin: 15px auto;
}

.left-banners {
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.left-banner {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 150px;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-banner {
  width: 60%;
  height: 310px;
}

.latest-text {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.latest-text p {
  font-size: 18px;
  font-weight: bold;
}

.latest-text a {
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  font-weight: bold;
  padding: 2px 0;
}

/* join section style  */
.join-section{
  background-image: url('assets/news-letter-bg.png');
  background-position: center center;
  height: 650px;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}

.join-section-item{
  margin: 0 auto;
}

.join-section h3{
  color: #fff;
  font-size: 3rem;

}
.join-section input{
  padding: 15px 20px;
  width: 650px;
  margin-top: 23px;
  border: none;
  outline: none;
}

.join-section button{
  padding: 15px 50px;
  margin: -10px;
}

/* footer section style  */

.footer-area{
  justify-content: space-between;
  padding: 50px 130px;
}

.nav-item a{
  text-decoration: none;
}
.forth-social-icon{
  align-items: center;
}
.forth-social-icon a{
  margin-right: 20px;
}

.second-section li, .third-section li {
  margin-bottom: 25px;

}
.footer-area a{
  color: rgba(107, 114, 128, 1);
}

@media screen and (max-width: 576px) {
  .none {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .plants-card-area{
    grid-template-columns: repeat(2, 1fr);
  }
  .plants-section img{
    width: 100%;
  }
  .banner img{
    width: 100%;
  }
  .join-section-item input{
    width: 70%;
  }
  .join-section h3{
    font-size: 1.4rem;
  }
  .join-section button{
    padding: 15px 12px;
  }

  .footer-area{
    padding-left: 10px;
    flex-direction: column;
  }
  .plants-lover-section{
    margin-top: 40px;
  }

  .latest-deal-image-area, .plants-lover-section{
    flex-direction: column;
    gap: 20px;
  }
  .left-banners, .right-banner, .left-banner{
    width: 100%;
  }
  .right-banner{
    height: 150px;
  }
  .plants-right, section{
    margin: 0 20px;
  }
  .plants-left img{
    width: 100%;
  }


  
}