@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

/* shared style  */
.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text-yellow {
  color: #E95A08;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.btn-primary{
  padding: 16px 0;
  color: white;
  background-color: #E95A08;
  border: none;
}


/* nav style  */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 20px auto;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

/* banner style  */
.banner {
  margin-top: 120px;
  align-items: flex-end;
}

.banner-title {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #000;
}



/* plants section style  */
.plants-section{
  margin-top: 120px;
  text-align: center;
}
.plants-title h3{
  font-size: 3rem;
  margin-bottom: 16px;
}
.plants-card-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 48px;
}

.plants-card-area button{
  width: 100%;
}

.plants-single-card img{
  margin-bottom: 25px;
}
.plants-single-card h4{
  margin-bottom: 10px;
  font-weight: normal;
}

.plants-single-card p{
  font-weight: bold;
  margin-bottom: 25px;
}
































@media screen and (max-width: 576px) {
  .none {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .plants-card-area{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}